.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.toggle {
  color: #34c94b;
  cursor: pointer;
}

.cardWrapper{
    margin-top: 18px;    
}

.wrapper {
  display: flex;
  flex-wrap: wrap;  
  gap: 40px;
}
