.search {
  width: 502px;
  height: 93%; 
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; 
  border: 1px;
}

.parent{
    height:48px;    
    display: flex;
    align-items: center;    
}

.searchButton {    
    height: 100%;    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;    
    cursor: pointer;
    border-left: none; 
    padding: 14px 20px;
    border: 1px solid #121212;  
  }
  
